<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление карты</title>
</head>
<body>
<a href="/admin_menu">Главная</a>
<h1>Добавление карты</h1>
<form enctype="multipart/form-data" th:action="@{/admin/clients/{id}/cards/add_card (id = ${clientId})}" method="post" th:object="${card}">
    <div>
        <label>Номер карты: <input type="text" th:field="*{number}"/> </label>
        <span style="color: red" th:text="${numberErr}"></span>
    </div>
    <div>
        <label>CVV: <input type="text" th:field="*{cvv}"/> </label>
        <span style="color: red" th:text="${cvvErr}"></span>
    </div>
    <div>
        <label>VALID THRU: <input type="date" th:field="*{validDate}"/> </label>
        <span style="color: red" th:text="${dateErr}"></span>
    </div>
    <div><input type="submit" value="Добавить"/></div>
</form>
</body>
</html>